@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
/* font-family: 'Roboto Slab', serif; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: gray;
}

.projeto {
    background-color: blanchedalmond;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: transparent;
    text-align: center;
    margin-top: 25vh;
}

.project {
    max-width: 300px;
    background-color: aqua;
    border-radius: 20px;
    justify-content: center;
    align-self: center;
}

.qrcode {
    padding-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.qrcode img {
    margin-top: 10px;
    border-radius: 20px;
}

.titulo1 {
    display: flex;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.titulo2 {
    display: flex;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}